
.widgets{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}

.widget{
    margin: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}
.widget h1{
    background-color: yellow;
}