.widgets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.widget{
    align-content: start;
    justify-content: start;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 25px;
}

.title {
    border-radius: 25px 25px 0px 0px;
    background-color: yellow;
    height: 5vh;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}
.body{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
}

.body-tasks{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    align-content: start;
    align-items: start;
}